$font: 'Montserrat', sans-serif;

$text-color: #252b42;
$danger-color: #9c7e7e;
$dark-background-color: #EBFAA7;

$light-background-color: #5a815a;
$primary-color: #d6e848;

$primary-text-color: #7696a8;
$second-text-color: #592b2b;
$secondary-color-1: #cc2323;
$light-text-color: #ae8d8d;
$alert-color: #e77c40;
$light-gray-1: #a45656;
$muted-color: #bdbdbd;
$secondary: #ffffff;
